*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   ;
    text-align: center;
}
h1{
    margin:10px;
    font-size: 50px;
    color: rgb(6, 238, 255);
    text-shadow: 2px 2px black;
}
p{
    color: rgb(6, 238, 255);
    text-shadow: 2px 2px black;
    font-size: 20px;
    margin: 30px;
}
h2{
    margin-top  : 50px;
    color: rgb(6, 238, 255);
    text-shadow: 2px 2px black;
    margin-bottom: 20px;
}