input{
    width: 50%;
    height: 30px;
}
*{
    margin: 8px;
}
.submit{
   
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 189, 255,0.7);
    color: rgb(255, 255, 255);
    font-size: large;
}
.form{
    text-align: center;
    color: rgb(6, 238, 255);
    text-shadow: 1px 1px black;
    font-size: 20px;
    margin-bottom: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
p{
    color: aquamarine;
}