*{
    margin: 0;
    font-family: serif ;
  }

  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trip{
    width: 400px;
    margin: 30px;
    height: fit-content;
    box-shadow: 7px 7px 7px;
    border-radius: 10px;
    background-color:rgb(47, 189, 255,0.6);
    color: rgb(72, 205, 228);
  }
  .dataContent{
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 10px;
    justify-items: center;
  }
  img{
    width: 300px;
    height: 300px;
    clip-path: circle(50%);
  }
  .tripName{
    font-weight: bold;
    font-size: 16px;
  }
  .buttons{
      display: grid;
      grid-template-columns: 100%;
      padding-bottom: 10px;
      justify-items: center;
      align-items: center;
      height: 30px;
  }
  button{
      width: 70%;
      border-radius: 5px;
      border: 1px solid snow;
      height: 30px;
      font-size: 15px;
      font-weight: bold;
  }
  p{
      font-size: 20px;
      padding: 10px;
      margin: 10px;
      color: aliceblue;
  }
  .tripName{
      font-size: 30px;
      color: rgb(125, 247, 43);
  }
  .grid-container{
      display: grid;
      grid-template-columns: 30% 70%;
  }
  @media (max-width: 700px){
    .grid-container{
      grid-template-columns: 100%;
    }
  }
  .maxPrice{
      color: red;
  }
  .minPrice{
      color: rgb(0,255,0);
  }
  
    .star {
      
      font-size: 40px;
      color: #b9c1cc;
    }
    .filled {
      color: gold;
    }
    ngb-rating:focus {
      outline: none;
    }

.cart{
  border: 5px ridge rgb(9, 255, 0);
  margin: 10%;
  margin-top: 50px;
  border-radius: 10px;
  height: fit-content;
}
.moreThan10{
  border: 5px ridge red;
}
.filters{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap; 
}
    
    
