*{
    font-family: serif ;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    font-size: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prices{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.minPrice{
    text-align: left;
}
.maxPrice{
    text-align: right;
}
.suwak{
    min-width: 400px;
}
h1{
    color: rgb(231, 231, 231);
    font-size: 60px;
    text-align: left;
    margin-left: 60px;
}
.part{
    margin: 40px;
    width: 350px;
    text-align: center;
}
ul{
    list-style: none;
}
h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.star {
      
    font-size: 40px;
    color: #b9c1cc;
  }
  .filled {
    color: gold;
  }
  ngb-rating:focus {
    outline: none;
  }
  button{
      background-color: rgb(6, 238, 255,0.4) ;
      margin-top: 30px;
      border: none;
      border-radius: 5px;
      color: rgb(255, 196, 0);
      text-shadow: 2px 1px black;
  }